
<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/assets/css/adsh.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>

<div class="header">
  <h1>ADMIN PAGE</h1>
  <button type='button' class='button' onclick="window.location.href='/adminlogin'"><img src="/assets/img/icons/logout.png"></button> </div>
  <!--<p>My supercool header</p>-->
</div>

<img class="image" src="/assets/img/hitam logo.jpg" alt="Logo img">
<nav class="w3-bar w3-green">
  <a href="/adashboard" class="w3-button w3-bar-item">Home</a>
  <a href="/drives" class="w3-button w3-bar-item">DRIVES</a>
  <a href="/awork" class="w3-button w3-bar-item">WORKSHOPS</a>
  <a href="/atrainings" class="w3-button w3-bar-item">TRAININGS</a>
  <a href="#attendance" class="w3-button w3-bar-item">ATTENDANCE</a>
  <a href="#placements" class="w3-button w3-bar-item">PLACEMENTS</a>
  <a href="#images" class="w3-button w3-bar-item">IMAGES</a>
</nav>
</body>
</html>