<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/assets/css/dash.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>

<div class="header">
  <h1>WELCOME <%= name %></h1>
  <!--<p>My supercool header</p>-->
</div>
<img class="image" src="/assets/img/hitam logo.jpg" alt="Logo img">
<nav class="w3-bar w3-green">
    <a href="/users/dashboard" class="w3-button w3-bar-item">Home</a>
    <a href="/scdc" class="w3-button w3-bar-item">CDC ATTENDANCE</a>
    <a href="/strainings" class="w3-button w3-bar-item">TRAININGS</a>
    <a href="/sdrives" class="w3-button w3-bar-item">DRIVES</a>
    <button type='button' class='button' onclick="window.location.href='/login'"><img src="/assets/img/icons/logout.png"></button> </div>
  </nav>
  </body>