<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/assets/css/fdash.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>

<div class="header">
  <h1>TRAINING CENTER</h1>
  <button type='button' class='button' onclick="window.location.href='/adminlogin'"><img src="/assets/img/icons/logout.png"></button> </div>
  <!--<p>My supercool header</p>-->
</div>
<img class="image" src="/assets/img/hitam logo.jpg" alt="Logo img">