<% include ./partials/adashnavbar %>
<!--<link href="/assets/css/fdash.css" rel="stylesheet" type="text/css" media="all" />-->
<br>
<br>
<br>
<form action='' method='post'>
<label class="radio-inline">CSE
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  &nbsp;&nbsp;&nbsp;
  <label class="radio-inline">ECE
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  &nbsp;&nbsp;&nbsp;
  <label class="radio-inline">EEE
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  &nbsp;&nbsp;&nbsp;
  <label class="radio-inline">MECH
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  &nbsp;&nbsp;&nbsp;
  <label class="radio-inline">
    <button type='button' class='buttons button1'> SELECT </button>
  </label>
  <BR>
    <BR>
      <BR>
        <BR>
  <table>
    <tr>
      <td>NAME OF THE TRAINING</td>
      <td><input class="text" id="tname"type="text" name="tname" placeholder="" required=""></td>
      <td>--</td>
    </tr>
    <tr>
      <td>DATE</td>
      <td><input class="text" id="tname"type="text" name="date" placeholder="" required=""></td>
      <td>--</td>
    </tr>
    <tr>
      <td>VENUE</td>
      <td><input class="text" id="tname"type="text" name="venue" placeholder="" required=""></td>
      <td>--</td>
    </tr>
    <tr>
      <td>ATTACHMENT</td>
      <td><input type='file' id="fileUploaded" name='fileUploaded'></td>
      <td>--</td>
    </tr>
    <tr>
      <td></td>
      <td><button type='button' class='buttons button1'> SUBMIT </button></td>
      <td></td>
    </tr>
  </table>
</form>