<form action="/trainer/fdashboard" method="post" enctype="multipart/form-data">
  <select id="department" type="drop-down" name="department">
      <option value="0" style='color:black;' >Department</option>
      <option value="CSE" style='color:black;'>CSE</option>
      <option value="ECE" style='color:black;'>ECE</option>
      <option value="EEE" style='color:black;'>EEE</option>
      <option value="MECH" style='color:black;'>MECH</option>
  </select>
  <input type="text" name="description" placeholder="description" required="">
  <input type="submit" value="SUBMIT">
</form>