<head>

  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>
<section>


<ul id="services">
    <h2>LOGIN AS</h2>
    <li>
      <div class="STUDENT">
        <!--<a href="https://facebook.com/colorlib/">-->
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </div>
      <span>STUDENT</span>
    </li>
 <li>
      <div class="FACULTY">
        <!--<a href="https://facebook.com/colorlib/">-->
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </div>
      <span>FACULTY</span>
    </li>
 <li>
      <div class="ADMIN">
        <!--<a href="https://facebook.com/colorlib/">-->
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </div>
      <span>ADMIN</span>
    </li>
</ul>


</section>
