<head>
  <link href="https://fontawesome.com/icons?d=gallery" rel="stylesheet" type="text/css">
  <link href="assets/css/mainlogin.css" rel="stylesheet" type="text/css">
 
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>
<section>
<ul id="services">
    <h2>LOGIN AS</h2>
    <li>
      <div class="STUDENT">
        <a href="/users/student">
          <i class="fa fa-mortar-board" aria-hidden="true"></i>
        </a>
      </div>
      <span>STUDENT</span>
    </li>
 <li>
      <div class="FACULTY">
        <a href="/faculties/faculty">
          <i class="fa fa-user" aria-hidden="true"></i>
        </a>
      </div>
      <span>FACULTY</span>
    </li>
 <li>
      <div class="ADMIN">
        <a href="/admins/admin">
          <i class="fa fa-university" aria-hidden="true"></i>
        </a>
      </div>
      <span>ADMIN</span>
    </li>
</ul>
<ul class="colorlib-bubbles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

</section>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
