<% include ./partials/sdashboard %>
<p class="heading"><b>DRIVES</b></p>
<section>
    <table>
        <tr>
            <td>COMPANY</td>
            <td>AMAZON</td>
            <td><p class="link"><a href="https://www.amazon.in/">link</a></p></td>
          </tr>
          <tr>
            <td>COMPANY</td>
            <td>DBS</td>
            <td><p class="link"><a href="https://www.dbs.com/in/index/default.page">link</a></p></td>
          </tr>
    </table>
</section>