<% include ./partials/sdashboard %>
<section>
    <table>
        <tr>
            <td>COMPANY</td>
            <td>AMAZON</td>
            <td><p class="link"><a href="https://www.amazon.in/">refer</a></p></td>
          </tr>
          <tr>
            <td>COMPANY</td>
            <td>DBS</td>
            <td><p class="link"><a href="https://www.dbs.com/in/index/default.page">refer</a></p></td>
          </tr>
    </table>
</section>