<% include ./partials/sdashboard %> 
<p class="heading"><b>TRAININGS</b></p>
<section>
    <table>
        <tr>
            <td><b>SNo.</b></td>
            <td><b>TRAININGS</b></td>
            <td><b>VENUE</b></td>
            <td><b>DATE</b></td>
          </tr>
          <tr>
            <td>1</td>
            <td>SOFT SKILLS</td>
            <td>AMPHIE THEATRE, HITAM</td>
            <td>14/04/2019</td>
          </tr>
          <tr>
            <td>2</td>
            <td>C LANGUAGE</td>
            <td>F-04, HITAM</td>
            <td>16/04/2019</td>
          </tr>
    </table>
</section>